<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="connection.username">root</property>
    	<property name="connection.password"></property>
    	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    	<property name="connection.url">jdbc:mysql:///hibernate?useUnicode=true&amp;characterEncoding=UTF-8</property>
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property> <!-- 方言 -->
    	
    	<property name="show_sql">true</property> <!-- 是否把Hibernate运行时的sql语句输出到控制台。编码阶段便于测试 -->
		<property name="format_sql">true</property><!-- 输出到控制台的sql语句是否进行排版，便于阅读，建议设置为true -->
		<property name="hbm2ddl.auto">upatde</property><!-- 可以帮助由java代码生成数据库脚本，进而生成具体的表结构。create|update|create-drop|validate -->
		
		<mapping resource="Students.hbm.xml"/> 
    </session-factory>
</hibernate-configuration>
